<p>you logged in as <%= name %></p>
<form action="/logout?_method=DELETE" method="POST">
    <div class="container">
      <button type="submit" class="registerbtn">Log out</button>
    </div>
  </form>